.git/
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.run/
venv/
.venv/
log/*
!log/PLACEHOLDER
dagster/*
!dagster/dagster.yaml
resources/snowflake_secrets/*
!resources/snowflake_secrets/PLACEHOLDER
resources/data/*
!resources/data/PLACEHOLDER
!resources/data/titanic_test.csv
!resources/data/titanic_train.csv

*.pyc
*cpython-*
*__pycache__*
*.log

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.env
.claude/settings.local.json
CLAUDE.local.md